*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(auto, 110rem)
    [main-end] minmax(1rem, 1fr)
    [full-end];
}

.container_theme_dark {
  background-color: #000;
  color: #f0f0f0;
}

.container__item {
  grid-column: main;
}