*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 300 1.6rem 'Roboto', sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(auto, 110rem)
    [main-end] minmax(1rem, 1fr)
    [full-end];
  justify-items: center;
  padding: 6rem 0;
}

.container_theme_dark {
  background-color: #000;
  color: #f0f0f0;
}

.container__item {
  grid-column: main;
}

.heading {
  font-weight: 400;
  text-align: center;
}

.features {
  --column-min-width: 20rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--column-min-width), 1fr));
  list-style-type: square;
}

@media screen and (min-width: 42.5em) {
  .features {
    --column-min-width: 30rem;
  }
}

.features__item_bullet_red { color: #cc1314; }
.features__item_bullet_yellow { color: #c2b700; }
.features__item_bullet_green { color: #0ec102; }
.features__item_bullet_blue { color: #3144ce; }

.features__title,
.features__description {
  color: #f0f0f0;
}

.features__title {
  font-weight: 400;
}

.video-embed {
  max-width: 60rem;
  width: 100%;
}

.video-embed__video {
  display: flex;
  justify-content: center;
  padding-bottom: 56.25%;
  position: relative;
}

.video-embed__video > iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonials__item {
  flex-basis: 20rem;
  flex-grow: 1;
  max-width: 40rem;
  text-align: center;
}

.testimonials__quote::before { content: open-quote; }
.testimonials__quote::after { content: close-quote; }

.testimonials__cite {
  font-weight: 400;
  text-transform: uppercase;
}

.testimonials__cite::before {
  content: "\2014 ";
}

.prices {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: stretch;
}

.prices__item {
  border-radius: 1rem;
  border: .1rem solid lightgray;
  margin-bottom: 2rem;
  max-width: 35rem;
  width: 100%;
}

.prices__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 56.25em) {
  .prices {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
  }

  .prices__item {
    flex-basis: 20rem;
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .prices__item:last-child {
    margin-right: 0;
  }
}